MONGO_URI=mongodb+srv://workkalakartechcrew_db_user:FZtTxQBJOCuCM8Jn@cluster0.2ywasiw.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=drp_exotic_farms
JWT_SECRET_KEY=change-this-to-a-long-random-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
ADMIN_EMAIL=admin@drpexoticfarms.com
ADMIN_PASSWORD=ChangeMeImmediately123!
CLOUDINARY_CLOUD_NAME=dmowptlcp
CLOUDINARY_API_KEY=452247919897853
CLOUDINARY_API_SECRET=vVKWd0pTU44Gw45jPWNy0ekJHFQ
# workkalakartechcrew_db_user
# FZtTxQBJOCuCM8Jn
